<app-navbar></app-navbar>
<div class=" bg-image">
<div class="text-center">
  <button (click)="openPopup()" type="button" class="btn btn-primary btn-xl"><i class="bi bi-cast"></i>Check State</button>
</div>
<br>
<br>
<div class="text-center">
  <button routerLink="open-bet-form" type="button" class="btn btn-info btn-xl"><i class="bi bi-envelope-paper"></i>Open Bet</button>
</div>
<br>
<br>
<div class="text-center">
  <button type="button" class="btn btn-dark btn-xl "><i class="bi bi-dice-6-fill"></i>Buy Tokens</button>
</div>
<br>
<br>
<div class="text-center">
  <button type="button" class="btn btn-warning btn-xl"><i class="bi bi-currency-exchange"></i>
    Bet With Account</button>
</div>
<br>
<br>
<div class="text-center">
  <button  type="button" class="btn btn-success btn-xl"><i class="bi bi-display"></i>Close Bet </button>
</div>
  <br>
  <br>
  <div class="text-center">
    <button  type="button" class="btn btn-success btn-xl"><i class="bi bi-display"></i>Check Player price</button>
  </div>
  <br>
  <br>
  <div class="text-center">
    <button  type="button" class="btn btn-success btn-xl"><i class="bi bi-display"></i>Withdraw</button>
  </div>
  <br>
  <br>
  <div class="text-center">
    <button  type="button" class="btn btn-success btn-xl"><i class="bi bi-display"></i>Burn Tokens</button>
  </div>
</div>

<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Check State </h4>
      </div>
      <div class="modal-body">
        <form class="">
          <h2 class="modal-title">The current state is : {{ state }} </h2>
          <div class="modal-footer">
            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit" (click)="checkState()">Check</button>

            <button type="button" class="btn btn-danger"
                    (click)="closePopup()">
              Close
            </button>
          </div>
        </form>

      </div>

    </div>
  </div>
</div>
